{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!---------------------------------------------------ESTATICOS------------------------------------------>
  <meta charset="utf-8" />
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <title>freeDonate.Dapp </title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/rubick.css' %}" rel="stylesheet"/>
  
    
                                                            <!--boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <!---------------------------------------------------ESTATICOS------------------------------------------>
 <!--BARRA nueva-->
 <nav class="navbar navbar-expand-lg " style="background-color: #83bfeb;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home/">freeDonate.Dapp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'get_chain' %}">Obtener</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'connect_node' %}">Conectar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'mine_block' %}">Minar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'new_transaction' %}">Donar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'is_valid' %}">Validar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'all_transactions' %}">Todas las transacciones</a>
          </li>
          
          
        </ul>
        </div>
    </div>
  </nav>
  <!--BARRA nueva-->
</head>
<body>
<div class="container">
  <p class="text-center fs-1 fw-bold" >Haz tu donacion aqui.</p>
  
  <form>
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Nombre</label>
      <input type="name" class="form-control" id="exampleInputName" aria-describedby="Name">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputMonto" class="form-label">Monto</label>
      <input type="monto" class="form-control" id="exampleInputMonto" aria-describedby="Monto">
      </div>
    <form >
    <button href="/new_transaction/" type="submit" class="btn btn-primary">Donar</button>
</form>
  </form>
</div>
<ul></ul>

   <!-- FOOTER -->
   <footer class="footer footer-big " data-color="black" style="background-color: #83bfeb;" >
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info add-animation-stopped animation-1">
                    <h5 class="title">Company</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                Find offers
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                Discover Projects
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                Our Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                About Us
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info add-animation-stopped animation-2">
                    <h5 class="title"> Help and Support</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                How it works
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                Terms &amp; Conditions
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                Company Policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                Money Back
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="info add-animation-stopped animation-3">
                    <h5 class="title add-animation-stopped">Latest News</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i> <b>Get Shit Done</b>
                                    The best kit in the market is here, just give it a try and let us...
                                    <hr class="hr-small">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <i class="fa fa-twitter"></i>
                                We've just been featured on <b> Awwwards Website</b>! Thank you everybody for...
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info add-animation-stopped animation-4">
                    <h5 class="title add-animation-stopped">Follow us on</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" class="btn btn-social btn-facebook btn-simple">
                                <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                <i class="fa fa-dribbble"></i> Dribbble
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-twitter btn-simple">
                                <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-social btn-reddit btn-simple">
                                <i class="fa fa-google-plus-square"></i> Google+
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
            © 2019 Django Blockchained , We Create Future
        </div>
    </div>
</footer>
<!-- END FOOTER -->
</body>
 
  
</html>
