<!doctype html>
<html lang="en">
  <head >  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Causas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--BARRA-->
    <nav class="navbar navbar-expand-lg " style="background-color: #83bfeb;" >
        <div class="container-fluid" >
          <a class="navbar-brand" href="#">Opciones</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Causas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--BARRA-->
     
      
  </head>
  <!--Causas-->
  <body>
    <!--tarjetas-->
       <div class="container">
        <p class="text-center fs-1 fw-bold" >Nuestras causas.</p>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="https://media.istockphoto.com/id/1375911012/es/foto/triste-ni%C3%B1o-pobre-indio-sosteniendo-tengo-hambre-letrero-mirando-la-c%C3%A1mara-en-el-fondo-de-blu.jpg?s=612x612&w=0&k=20&c=sVy9IkhiI2qWA5ObU-WQgNgDRuBZa61ndmAQZ99RyZY=" height="300"  class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">$5.000/$1'0000 </div>
                      </div>
                      <ul></ul>    
                  <h5 class="card-title">Desnutrición crónica infantil</h5>
                  <p class="card-text">Apoya con tu donacion para combatir la desnutrición cronicas que hay en nuestros niños </p>
                  <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Donar ahora</button>           
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://plus.unsplash.com/premium_photo-1661266853185-dc6e7a783cf5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODF8fG5pJUMzJUIxbyUyMHklMjBhZG9sZWNlbnRlfGVufDB8fDB8fHww" height="300" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">$7.000/$1'0000 </div>
                      </div>
                      <ul></ul>
                  <h5 class="card-title">Bienestar de la niñez y adolescencia</h5>
                  <p class="card-text">Los niños y los adodecentes son los mas vulnerables en la sociedad ayudanos a protegerlos.</p>
                  
                  <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Donar ahora</button>
                </div>
              </div>
            </div>
              <div class="col">
                <div class="card">
                  <img src="https://images.unsplash.com/photo-1548199973-03cce0bbc87b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnJpdG9zfGVufDB8fDB8fHww" height="300"  class="card-img-top" alt="...">
                  <div class="card-body">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">$4.000/$1'0000 </div>
                        </div>
                        <ul></ul>    
                    <h5 class="card-title">Bienestar de los peliditos abandonados</h5>
                    <p class="card-text">Ayudanos para que nuestros cachorritos tengan un hogar de calidad, alimentacion y techo  .</p>
                    <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Donar ahora</button>           
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="https://images.unsplash.com/photo-1509062522246-3755977927d7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGVkdWNhdGlvbiUyMGNoaWxkcmVuc3xlbnwwfHwwfHx8MA%3D%3D" height="300"  class="card-img-top" alt="...">
                  <div class="card-body">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">$6.500/$1'0000 </div>
                        </div>
                        <ul></ul>    
                    <h5 class="card-title">Educacion </h5>
                    <p class="card-text">Ayunanos para que nuestros niños y adolecentes tengan una educacion de calidad.</p>
                    <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Donar ahora</button>           
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8aG9nYXJ8ZW58MHx8MHx8fDA%3D" height="300" class="card-img-top" alt="...">
                  <div class="card-body">
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">$7.000/$1'0000 </div>
                        </div>
                        <ul></ul>
                    <h5 class="card-title">Techo para los abuelitos</h5>
                    <p class="card-text">Ayudanos para que personas de la tercera edad que no tienen hogar cuenten con un techo digno.</p>
                    
                    <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Donar ahora</button>
                  </div>
                </div>
              </div>
                <div class="col">
                  <div class="card">
                    <img src="https://plus.unsplash.com/premium_photo-1676325101744-ce4a45a331c7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVkaWNvfGVufDB8fDB8fHww" height="300"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">$8.000/$1'0000 </div>
                          </div>
                          <ul></ul>    
                      <h5 class="card-title">Servicios medicos</h5>
                      <p class="card-text">Ayuda para que nuestros abuelitos, niños, adolecentes y peluditos tengan un servicio medico.</p>
                      <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Donar ahora</button>           
                    </div>
                  </div>
                  <ul></ul> 
                </div>
             
        <!--tarjetas-->
         <!--modal-->  
         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DONAR</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  
                  <div class="input-group mb-3">
                    
                    <input type="text" class="form-control" placeholder="Apellidos" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  
                    <div class="input-group mb-3">
                    <input type="text" class="form-control" id="basic-url" placeholder="Telefono" aria-describedby="basic-addon3">
                  </div>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="basic-url" placeholder="Direccion" aria-describedby="basic-addon3">
                  </div>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="basic-url" placeholder="Correo" aria-describedby="basic-addon3">
                  </div>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="basic-url" placeholder="Monto" aria-describedby="basic-addon3">
                  </div>              
                  <div class="input-group">
                    <textarea class="form-control" placeholder="Comentario"  aria-label="With textarea"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Donar</button>
              </div>
            </div>
          </div>
        </div>
        <!--modal--> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
    </center>
    
  </body>